#world {
    height: 30px;
    background-color: gray;
    /* width: 600px; */
    overflow-x: visible;
    overflow-y: visible;
    padding: 5px;
    /* position: relative; */
}
#start {
    margin: 5px;
    height: 30px;
}
#reset {
    margin: 5px;
    height: 30px;
}
.row {
    display: flex;
}

.controls label {
    line-height: 2;
}
#inputTape {
    background-image: url("../img/cell_square.gif");    
    width: auto;
    height: 20px;
    background-size: 20px;
    border: 1px solid gray;
    font-family: monospace;
    font-size: calc(20px * 0.66);
    padding: 0 0 0 6px;
    margin-right: 100px;
    letter-spacing: calc(calc(20px * 0.66) * 0.9095);
    z-index: 1
}
#golemsHome {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    margin: 5px;
    float: left;
}
#golem {
    position: absolute;
    top: 0;
    /* background-color: rgb(133, 119, 119); */
    width: 32px;
    height: 32px;
    z-index: 2;

}
#golem .character {
    height: 100%;
    width: 100%;
    left: 0;
    background-image: url("../img/golem_sprite.gif");
    background-size: 512px;      
    animation-iteration-count: infinite;
    animation-duration: 0.8s;    
}
#golem.idle .character{
    background-position-y: calc(-32px * 0);
    animation-name: playIdle;
    animation-duration: 0.8s;
    animation-timing-function: steps(3);    
}
@keyframes playIdle {
    100% {
        background-position-x: calc(-32px * 3);
    }
}
#golem.movingRight .character,
#golem.movingLeft .character{
    background-position-y: calc(-32px * 2);
    animation-name: playWalk;
    
    animation-timing-function: steps(5);    
}
@keyframes playWalk {
    100% {
        background-position-x: calc(-32px * 5);
    }
}
#golem.movingRight .character{
    transform: scaleX(1);
}
#golem.movingLeft .character{
    transform: scaleX(-1);
}

#golem.dropping .character{ 
    background-color: red;
}

#golem.lifting { 
    background-color: green;
}

#dialog {
    display: none;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    width: calc(90% - 270px); /*210 + 20 + 40*/
    max-width: 400px;
    height: 75px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px auto;
    padding: 20px 20px 20px 210px;
    border-radius: 10px;
    outline-offset: -5px;
    outline: white solid 1px;
    color: white;
}
#dialog::before {
    content: "";
    /* background-color: red; */
    display: block;
    height: 200px;
    width: 200px;
    position: absolute;
    top: -75px;
    left: 10px;
    background-image: url("../img/golem_big.png");
    background-size: contain;
}

#dialog div{
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.pebble.p1 {
    background-color: red;
}
.pebble.p2 {
    background-color: green;
}
.pebble.p3 {
    background-color: blue;
}
.pebble {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    z-index: 3;
}
#golem .pebble {
    top: 0px;
}
#golem .pebble.p1 {
    left: calc(6px * 0);
}
#golem .pebble.p2 {
    left: calc(6px * 1);
}
#golem .pebble.p3 {
    left: calc(6px * 2);
}

#board {
    background-color: white;
    border: black solid thin;
    width: 20px;
    height: 30px;
    position: absolute;    
    right: -15px;
    top: -15px;
    color: black;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}