body {
    margin: 0;
    height: 640px;
    background-color: gray;
}
#container {
    background-color: green;
    display: flex;
    flex-direction: column;
    height: calc(100% - 140px);
    padding: 10px;
    justify-content: space-around;
}
#intro {
    height: 100px;
    background-color: hotpink;
    padding: 0px 20px 30px 20px;
}

#world {
    flex-grow:1;
    background-color: greenyellow;
    width: 600px;
    overflow: scroll;
    padding: 5px;
    position: relative;
}
#start {
    margin: 5px;
    z-index: 4;
    position: relative; /* for the z-index */
    height: 30px;
    background: none;
}
#reset {
    margin: 5px;
    height: 30px;
}
.row {
    display: flex;
}

#dialog {
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    width: calc(100% - 270px); /*210 + 20 + 40*/
    height: 150px;
    position: fixed;
    bottom: 0;
    margin: 20px;
    padding: 20px 20px 20px 210px;
    border-radius: 10px;
    outline-offset: -5px;
    outline: white solid 1px;
}
#dialog::before {
    content: "";
    /* background-color: red; */
    display: block;
    height: 200px;
    width: 200px;
    position: absolute;
    top: -50px;
    left: 10px;
    background-image: url("/golem.png");
    background-size: contain;
}

#dialog div{
    background-color: blue;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}